{% extends 'myapp/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-9">
        <br>
        <h2>Post registration/renewal</h2>
        <br>

        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label>Title</label>
                {{ form.title }}
            </div>
            <div class="form-group">
                <label>Category</label>
                {{ form.category }}
            </div>
            <div class="form-group">
                <label>Thumbnail</label>
                {{ form.thumbnail }}
            </div>
            <br>
            <div class="form-group">
                <label>content</label>
                {{ form.content }}
            </div>
            <br>

            <button type="submit" class="btn btn-primary">Save</button>
            <br><br>





        </form>
    </div>

</div>

{% endblock %}